@import url('font-face.css') layer(font-face);
@import url('reset.css') layer(reset);

html,
body {
  margin: 0;
  padding: 0;
}

main {
  container-type: inline-size;

  p {
    /**
     * The text block height is static to prevent layout and scrollbar jitters
     * when the kanji character count at times rapidly alternates. Between 0 and
     * 86,000,000, the greatest kanji count is 15, e.g.
     * "八千五百八十八万八千八百八十八".
     *
     * - Across 3 columns, the clock may span 5 rows.
     * - Across 4 columns, the clock may span 4 rows.
     * - Across 5 columns, the clock may span 3 rows.
     * - Across 6 columns, the clock may span 3 rows.
     */
    --margin: calc(1cqw * log(2));
    --contentWidth: calc(100cqw - var(--margin) * 2);
    --oneThird: calc(var(--contentWidth) / 3);
    --oneFourth: calc(var(--contentWidth) / 4.05);
    --oneFifth: calc(var(--contentWidth) / 5.05);
    --oneSixth: calc(var(--contentWidth) / 6.05);
    margin: var(--margin);
    font: var(--oneThird) / 1 'Hiragino Mincho Pro W6', 'Hiragino Mincho Pro';
    height: calc(var(--oneThird) * 5);

    @media (width > 450px) {
      font-size: var(--oneFourth);
      height: calc(var(--oneFourth) * 4);
    }

    @media (width > 1150px) {
      font-size: var(--oneFifth);
      height: calc(var(--oneFifth) * 3);
    }

    @media (width > 1600px) {
      font-size: var(--oneSixth);
      height: calc(var(--oneSixth) * 3);
    }

    /**
     * Unselectable texts are always an anti-pattern but, given the impossibly
     * high animation speed, the clock is arguably not an interactive UI element
     * and this prevents inadvertent and distracting text highlights.
     */
    user-select: none;
  }
}

aside {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgb(235 235 240 / 90%);
  box-shadow: 0 1px 6px 1px rgb(0 0 0 / 6%);
  backdrop-filter: blur(10px);

  h1,
  p {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 12.5px;
    font-weight: normal;
  }
}
