@import url('font-face.css') layer(font-face);
@import url('reset.css') layer(reset);

html,
body {
  margin: 0;
  padding: 0;
}

main {
  container-type: inline-size;
  max-width: 1500px;
  margin: 0 auto;

  p {
    --textBlockMargin: 3.5cqw;
    --textBlockWidth: calc(100cqw - var(--textBlockMargin) * 2);
    --fontSize3: calc(var(--textBlockWidth) / 3);
    --fontSize4: calc(var(--textBlockWidth) / 4.05);
    margin: var(--textBlockMargin);
    font: var(--fontSize3) / 1 'Hiragino Mincho Pro W6', 'Hiragino Mincho Pro';

    @media (width > 450px) {
      font-size: var(--fontSize4);
    }

    /**
     * Unselectable texts are always an anti-pattern but, given the impossibly
     * high animation speed, the clock is arguably not an interactive UI element
     * and this prevents inadvertent and distracting text highlights.
     */
    user-select: none;
  }
}

aside {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgb(235 235 240 / 90%);
  box-shadow: 0 1px 6px 1px rgb(0 0 0 / 6%);
  backdrop-filter: blur(10px);

  h1,
  p {
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 12.5px;
    font-weight: normal;
  }
}
